go 1.22.1

use (
	./chapter05/excel/simple
	./chapter05/excel/visualization
	./chapter06/grpc
	./chapter06/mux
	./chapter06/rest
	./chapter07
	./chapter08
	./chapter09/alerting/client
	./chapter09/alerting/server
	./chapter09/metrics/client
	./chapter09/metrics/server
	./chapter09/tracing/client
	./chapter09/tracing/server
	./chapter10
    ./chapter11/petstore
    ./chapter11/petstore/internal/server
	./chapter11/ops/proto
	./chapter11/ops/proto/jaeger/model
	./chapter12
    ./chapter14/petstore-operator
    ./chapter14/workloads
	./chapter15
	./chapter16
)
