go 1.22.1

use (
	./chapter05/excel
	./chapter06/grpc
	./chapter07
	./chapter08
	./chapter09/alerting/client
    ./chapter09/alerting/server
    ./chapter09/metrics/client
    ./chapter09/metrics/server
	./chapter10
	./chapter11
	./chapter11/ops/proto
	./chapter11/ops/proto/jaeger/model
	./chapter12
	./chapter13/petstore-provider
	./chapter14/petstore-operator
	./chapter14/workloads
	./chapter15
	./chapter16
)
